@using Mapping.Data
@inject GeocodeService service;
@inject IJSRuntime runtime
@inject MapState mapState

    <div >
        <input type="text" id="searchInput" @onchange="Search" style="width: 100%">
        <i class="fa fa-search" style="position: relative;z-index: 1;left: -25px;top: 1px;color: #7B7B7B;cursor:pointer;width: 0; cursor: default;pointer-events:none;"></i>
    </div>

@code {
    
        private async void Search(ChangeEventArgs e)
        {
            mapState.Location = await service.GetLatitudeLongitude(e.Value as string);
        }
    }
