@page "/"
@using Microsoft.AspNetCore.Identity
@inject IJSRuntime runtime
<GeocodeSearch></GeocodeSearch>
<div id="mapid" style="height: 100%; min-height: 800px"></div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await runtime.InvokeAsync<bool>("initMap", null);
        }
    }

}
